@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}